@model bookreview.Models.BaseModels.Author

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>@(Model.ToString())</h4>
    <hr />
        Imię: @(Model.FirstName.ToString()) <br />
        Nazwisko: @(Model.LastName.ToString()) <br />
        Data urodzenia: @(Model.BirthDate.ToString("yyyy")) <br />
        Biografia: @(Model.Bio.ToString()) <br />

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
