@model bookreview.Models.BaseModels.Rate


@using (Html.BeginForm("Create", "Rates"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Oceń!</h4>
        <hr />
        <div class="form-group">
            @Html.HiddenFor(model => model.EntityType, new { Value = ViewData["type"] } ) 
            @Html.HiddenFor(model => model.EntityId, new { Value = ViewData["id"] } )
            1  @Html.RadioButtonFor(model => model.Value, "1")
            2  @Html.RadioButtonFor(model => model.Value, "2")
            3  @Html.RadioButtonFor(model => model.Value, "3")
            4  @Html.RadioButtonFor(model => model.Value, "4")
            5  @Html.RadioButtonFor(model => model.Value, "5")
            6  @Html.RadioButtonFor(model => model.Value, "6")
            7  @Html.RadioButtonFor(model => model.Value, "7")
            8  @Html.RadioButtonFor(model => model.Value, "8")
            9  @Html.RadioButtonFor(model => model.Value, "9")
            10 @Html.RadioButtonFor(model => model.Value, "10")
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj ocenę" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
