@model bookreview.Models.BaseModels.Book

@{
    ViewBag.Title = "Create";
}

<h2>Dodawanie książek</h2>


@using (Html.BeginForm("Create", "Books", FormMethod.Post, null))
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>Książka</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row form-row">
                <div class="col-md-2 control-label">
                    Tytuł
                </div>
                <div class="col-md-10">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-input" })
                </div>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="row form-row">
                <div class="col-md-2 control-label">
                    Autor
                </div>
                <div class="col-md-9 col-xs-10">
                    @Html.DropDownListFor(model => model.Author_Id, ViewBag.Authors as SelectList, new { @class = "form-control form-input" })
                </div>
                <div class="col-md-1 col-xs-2">@Html.ActionLink("Dodaj autora", "Create", "Authors")</div>
                @Html.ValidationMessageFor(model => model.Author_Id)
            </div>
            <div class="row form-row">
                <div class="col-md-2 control-label">
                    Data wydania
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ReleaseDate, new { @class = "form-control form-input datepicker" })
                </div>
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>
            <div class="row form-row">
                <div class="col-md-2 control-label">
                    Opis
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control form-input" })
                </div>
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="row form-row">
                <div class="col-md-2 control-label">
                    Kategorie
                </div>
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.CategoryList, ViewBag.Categories as MultiSelectList, new { @class = "form-control form-input" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('.datepicker').datepicker();
    </script>
    
}
