@model bookreview.Models.BaseModels.Book

@{
    ViewBag.Title = "Szczegóły - "+Model.Name;
}

<h2>Szczegóły</h2>

<div>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <hr />
    Autor: @(Model.Author.ToString())<br />
    Rok wydania: @(Model.ReleaseDate.ToString("yyyy")) <br />
    @Html.DisplayFor(model => model.Description) <br />
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
